body {
    height: 100svh;
}

body> :nth-child(n+3) {
    display: none;
}

body> :nth-child(2) {
    width: 100%;
}

.header,
.body .row {
    color: white;
    background-color: var(--azul-medio);
    padding: 1rem 2rem;
    display: flex;
    gap: 2rem;

    & span {
        border-right: white solid 1px;
        padding-right: 1rem;
    }

    &> :nth-child(1) {
        width: 9ch;
    }

    &> :nth-child(2) {
        width: 50ch;
    }

    &> :nth-child(3) {
        margin-left: auto;
        border: none;
    }
}

.body {
    height: 60svh;
    overflow: auto;
}

.body .row {
    width: 100%;
    color: var(--type-color);
    background: none;
    border-bottom: black solid 1px;
    ;

    & span {
        align-content: center;
        border-right: black solid 1px;
    }

    & button {
        cursor: pointer;
        padding: 0;
        width: fit-content;
        height: fit-content;
        background: none;
        border: none;
        margin: 0;
    }

    & img {
        height: 2rem;
        padding: 0;
        object-fit: contain;
    }
}

.display span {
    display: block;
}

/* Estilização Botão "Novo" */

#before-display {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 29px;
}

.adicionar {
    background-color: var(--azul-medio);
    width: 150px;
    height: 50px;
    color: white;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

.adicionar:hover {
    background-color: var(--azul-escuro);
}

.adicionar:focus {
    outline: none;
}

/* Estilização dialog */

.popup {
    border: none;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 650px;
    aspect-ratio: 1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    background: white;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog:focus {
    outline: none;
}

.popup-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-header .fechar {
    position: absolute;
    right: 20px;
    top: 20px;
}

.fechar {
    padding: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 25px;
    border-radius: 10%;
    background-color: var(--azul-medio);
}

.fechar > i {
    color: white;
}

.rowModal {
    position: absolute;
    inset: 0;
    padding-top: 4rem;
    background-color: white;
    overflow: auto;
    border-radius: .5rem;
    display: none;

    & > span {
        display: block;
        padding: 0 2rem;
        font-size: .8rem;
    }
    & h2, > h3 {
        padding: 0 2rem;
        margin-top: .5rem;
    }

    & > p {
        font-size: 1.2rem;
        line-height: 2rem;
        margin: 2rem;
        font-family: Roboto;
        color: var(--type-color);
    }

    & .valor {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
    }

    & h3 {
        margin-bottom: 1rem;
        color: var(--type-color);
    }

    & .valor>div {
        text-transform: capitalize;
        width: fit-content;
        box-shadow: var(--azul-claro) -.2rem -.2rem 0;
        border-radius: .5rem;
        padding: 2rem;
        margin: 0 2rem 2rem 2rem;
        height: 20rem;
        overflow: auto;
    }

    & span {
        display: block;
        margin: .5rem 0;
    }

    & strong {
        color: var(--azul-medio);
    }

    .buttons {
        margin: 0 auto;
        width: fit-content;

        & > button {
            border: none;
            background: none;
            font-family: Roboto;
            font-size: 1.2rem;
            text-transform: capitalize;
            margin: 0 1rem;
            color: white;
            padding: 1rem;
            border-radius: .5rem;
            width: 10ch;
            cursor: pointer;
        }

        & h3 {
            text-align: center;
        }

        & #editar {
            background-color: var(--azul-medio);
        }

        & #finalizar {
            background-color: darkgreen;
        }

        & #cancelar {
            background-color: brown;
        }

        & .input-wrapper {
            margin: 0 auto;
            margin-bottom: 2rem;
            width: fit-content;
            display: flex;
            justify-content: center;
        }

        & input {
            border: solid 1px black;
            border-radius: .5rem;
            padding: 1rem;
            font-size: 1.2rem;
            display: block;
        }

        & #atualizar, & #somar, & #subtrair {
            background-color: var(--azul-claro);
        }
    }
}

 .rowModal .left {
    margin: 0 2rem;

    & button {
        width: fit-content;
    }
}

.close {
    position: absolute;
    right: .5rem;
    top: .5rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    background-color: #FA5F55;
    border-radius: 5rem;
    cursor: pointer;

    & img {
        height: 3rem;
    }
}

/* labels: os */
#nome::before {
    content: "Nome";
}

#valor::before {
    content: "Valor";
}

#clientes::before {
    content: "Clientes";
}

#qtdPeca::before {
    content: "Qtd";
}

#descricao::before {
    content: "Descrição";
}
/* labels: estoque */
#dataAquisicao::before {
    content: "Data aquisição";
}

#valorUnitario::before {
    content: "Valor unitário";
}
#qtdPecaModal::before {
    content: "Quatidade da peça";
}
/* labels: cliente */

#telefone::before {
    content: "Telefone";
}

#cpf::before {
    content: "CPF";
}

#pecas::before {
    content: "Peças";
}
