body {
    height: 100svh;
}
body > :nth-child(n+3){
    display: none;
}

body > :nth-child(2) {
    width: 100%;
}

.header, .body .row {
    color: white;
    background-color: var(--azul-medio);
    padding: 1rem 2rem;
    display: flex;
    gap: 2rem;

    & span {
        border-right: white solid 1px;
        padding-right: 1rem;
    }

    & > :nth-child(1) {
        width: 9ch;
    }

    & > :nth-child(2) {
        width: 50ch;
    }

    & > :nth-child(3) {
        margin-left: auto;
        border: none;
    }
}
.body {
    height: 60svh;
    overflow: auto;
}
.body .row {
    width: 100%;
    color: var(--type-color);
    background: none;
    border-bottom: black solid 1px;;
    & span {
        align-content: center;
        border-right: black solid 1px;
    }
    & button{
        cursor: pointer;
        padding: 0;
        width: fit-content;
        height: fit-content;
        background: none;
        border: none;
        margin: 0;
    }
    & img {
        height: 2rem;
        padding: 0;
        object-fit: contain;
    }
}

.display span {
    display: block;
}

.rowModal {
    position: absolute;
    inset: 0;
    padding-top: 4rem;
    background-color: white;
    overflow: auto;
    border-radius: .5rem;

    & h2 {
        padding: 0 2rem;
    }

    & > p {
        font-size: 1.2rem;
        line-height: 2rem;
        margin: 2rem;
        font-family: Roboto;
        color: var(--type-color);
    }

    & .valor {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
    }
    & h3 {
        margin-bottom: 1rem;
        color: var(--type-color);
    }
    & .valor > div {
        text-transform: capitalize;
        width: fit-content;
        box-shadow: var(--azul-claro) -.2rem -.2rem 0;
        border-radius: .5rem;
        padding: 2rem;
        margin: 0 2rem 2rem 2rem;
        height: 20rem;
        overflow: auto;
    }

    & span {
        display: block;
        margin: .5rem 0;
    }

    & strong {
        color: var(--azul-medio);
    }

    .buttons {
        margin: 0 auto;
        width: fit-content;

        & > button {
            border: none;
            background: none;
            font-family: Roboto;
            font-size: 1.2rem;
            text-transform: capitalize;
            margin: 0 1rem;
            color: white;
            padding: 1rem;
            border-radius: .5rem;
            width: 10ch;
            cursor: pointer;
        }

        & #editar {
            background-color: var(--azul-medio);
        }

        & #finalizar {
            background-color: darkgreen;
        }

        #cancelar {
            background-color: brown;
        }
    }
}

.close {
    position: absolute;
    right: .5rem;
    top: .5rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    background-color: #FA5F55;
    border-radius: 5rem;
    cursor: pointer;

    & img {
        height: 3rem;
    }
}

/* labels: os */
#nome::before {
    content: "Nome";
}

/* labels: estoque */

/* labels: cliente */
